<html>
<center>
   <h1> {{ ansible_hostname }}</h1>
   <h3> {{ ansible_os_family}}-system </h3>
   <h1> {{ service_stop_info.state }} </h1>
   {{ tower_user_id }}
   <h1> {{ tower_user_name }} </h1>
   
</center>
</html>
